<!DOCTYPE html>
<html>
  <head>
    <title>ArchivesSpace Data Dictionary (BETA version)</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container navbar-branding">
      <%= image_tag "archivesspace.small.png"%>
      <h1>Welcome to the ArchivesSpace Data Dictionary (BETA version)</h1>
    </div>
    <br/>
    <br/>
    <%= yield %>
  </body>
</html>
